<footer id="license" class="scroll-mt-[110px]">
	<div class="bg-[#F4F4F4] text-[#4F4F4F] w-full justify-center flex flex-col items-center">
		<div
			class="w-full max-w-[1300px] min-w-[auto] flex lg:flex-row items-start justify-between flex-col px-[18px] pt-[28px] lg:px-[24px] lg:pt-[80px] pb-[36px] gap-[20px]">
			<div class="flex flex-col gap-[24px]">
				<div class="flex flex-col gap-[16px]">
					<img src="./assets/logoBig.svg" class="w-auto" />
					<div class="text-[#FF7948] text-[18px] lg:text-[24px] font-[700]">Стоматологическая клиника</div>
				</div>

				<button
					type="button"
					data-contact-modal-open
					class="w-[159px] h-[45px] rounded-[16px] border-[1px] border-[#FF7948] px-[12px] inline-flex items-center justify-center text-[#FF7948] text-[18px] font-[600] gap-[12px]">
					Записаться
					<img src="./assets/arrowOrangeRight.svg" class="w-auto" />
				</button>
			</div>

			<div class="w-full lg:w-[auto] flex flex-col lg:flex-row gap-[46px]">
				<div
					class="flex flex-col gap-[24px] border-y py-[32px] border-[#4F4F4F33] lg:border-y-[0px] lg:py-[0px]">
					<div>Понедельник - Пятница:<br />09:00 - 20:00</div>
					<div>Суббота - Воскресенье:<br />09:00 - 15:00</div>
				</div>

				<div class="flex order-[-1] flex-col gap-[18px] lg:order-[1] lg:gap-[24px]">
					<div class="font-[700]">г. Новосибирск,<br />ул. Балтийская, 31 (Шлюз)</div>
					<div>
						<a href="tel:+79835100997" class="underline underline-offset-[4px]">+7 (983)510-09-97,</a><br />
						<a href="tel:+73833090001" class="underline underline-offset-[4px]">+7 (383) 309-00-01</a>
					</div>
					<div>
						<a href="mailto:navident@hotmail.com"
							class="underline underline-offset-[4px]">navident@hotmail.com</a>
					</div>
				</div>
			</div>
		</div>

		<div
			class="w-full max-w-[1300px] flex flex-col lg:flex-row justify-between pb-[28px] px-[18px] lg:pb-[80px] lg:px-[24px] text-[#868686]">
			<div class="font-[700]">© 2013 - 2026, "Навидент" Стоматология, клиника в Академгороде.</div>

			<div class="flex flex-col pt-[32px] gap-[14px] lg:pt-[0px] lg:flex-row lg:gap-[16px]">
				<div><a href="#" class="underline underline-offset-[4px]">Политика конфиденциальности</a></div>
				<div><a href="#" class="underline underline-offset-[4px]">Условия обработки персональных данных</a>
				</div>
			</div>
		</div>
	</div>
</footer>
