<section class="w-full justify-center flex">
	<div
		class="bg-cover bg-center rounded-[20px] bg-[url('/assets/Banner_about_mobile.svg')] lg:bg-[url('/assets/Banner_about_desktop.svg')] w-full max-w-[1300px] min-w-[auto] flex flex-col lg:flex-row items-start lg:items-center gap-[12px] px-[20px] py-[28px] lg:px-[34px] lg:py-[20px] lg:gap-[20px] min-h-[320px] mb-[48px] mt-[20px] lg:mt-0 lg:mb-[80px]">
		<div class="flex flex-col gap-[16px] lg:gap-[36px] lg:pl-[38px]">
			<h2 class="text-[20px]/[120%] lg:text-[42px] text-[#4F4F4F] font-[800]">Современная стоматология<br
					class="block" /> с
				индивидуальным<br class="block lg:hidden" />
				подходом</h2>
			<p class="text-[#4F4F4F] text-[13px] lg:text-[20px] px-0.5 lg:max-w-[721px]">
				Безболезненное лечение с гарантией. 3D-диагностика на КТ, лечение под микроскопом, использование лазера.
				Цифровая имплантация и протезирование. Опыт врачей — более 10 лет.
			</p>
		</div>
		<img src="./assets/banner_group_desktop.svg" class="w-auto hidden lg:block" />
	</div>
</section>

<section id="about"
	class="scroll-mt-[110px] bg-[#F4F4F4] w-full justify-center flex lg:mx-[0] rounded-[20px] lg:rounded-[0px]">
	<div
		class="w-full max-w-[1300px] min-w-[auto] flex flex-col items-start gap-[14px] px-[18px] py-[28px] lg:px-[24px] lg:py-[80px] lg:gap-[20px]">
		<h2 class="text-[22px] lg:text-[32px] text-[#4F4F4F] font-[800]">О клинике:</h2>
		<p class="text-[#4F4F4F]">
			«Навидент» — современная стоматологическая клиника, ориентированная на долгосрочный результат. Мы не просто
			лечим зубы, а полностью восстанавливаем их здоровье, функциональность и эстетику.<br><br>
			Мы применяем цифровые технологии для точной диагностики, контроля лечения и наглядного плана терапии. Перед
			началом лечения врач проводит комплексную диагностику и составляет индивидуальный план, чтобы пациент
			понимал все этапы, сроки и цели.<br><br>
			В клинике соблюдаются строгие стандарты стерильности и безопасности, а также создана комфортная атмосфера
			для пациентов. Наши врачи регулярно повышают квалификацию и используют в работе современные методы
			стоматологии.
		</p>

		<button type="button" data-contact-modal-open
			class="h-[52px] w-[100%] mt-[12px] lg:mt-[0px] lg:w-[247px] rounded-[16px] bg-[#FF7948] px-[12px] inline-flex items-center justify-center text-white text-[18px] font-[600] self-end gap-[12px] transition-colors duration-200 hover:bg-[#FF946D]">
			Записаться на прием
			<img src="./assets/iconArrowRight.svg" class="w-auto" />
		</button>
	</div>
</section>
