<section class="relative mt-4 flex w-full justify-center rounded-[20px] lg:mx-0 lg:rounded-none">
	<div id="banner-slider"
		class="touch-pan-y select-none relative h-[400px] w-full max-w-[1300px] min-w-0 overflow-hidden rounded-[20px] lg:h-[560px] lg:rounded-[16px]">
		<div data-banner-mobile-track class="flex h-full lg:hidden"></div>

		<div
			class="relative z-10 hidden h-full w-full flex-col items-start bg-cover bg-center px-[72px] py-[72px] lg:flex"
			id="banner-desktop-content">
			<div class="relative z-10 flex max-w-[650px] flex-col items-start gap-[20px]">
				<h1 id="banner-title" class="text-[48px]/[120%] font-[800] text-[#4F4F4F]"></h1>

				<p id="banner-text-1" class="max-w-[600px] text-[22px] font-semibold text-[#4F4F4F]"></p>

				<p id="banner-text-2" class="text-[20px] font-[400] text-[#4F4F4F]"></p>

				<a id="banner-link" href="#" data-contact-modal-open
					class="mt-1.5 inline-flex h-[52px] w-[131px] items-center justify-center rounded-[16px] border border-[#FF7948] p-[12px] text-[18px] font-[600] text-[#FF7948]">
					Подробнее
				</a>
			</div>

			<img id="banner-image-desktop" src="" alt=""
				class="absolute bottom-[-22px] right-[-70px] z-10 hidden h-[582px] lg:block" />

			<div class="absolute inset-0 z-0 rounded-[16px] bg-cover bg-center" id="banner-background"></div>
		</div>
	</div>

	<div class="absolute bottom-[-32px] left-1/2 z-20 flex -translate-x-1/2 items-center gap-[28px] lg:bottom-[-64px]">
		<button id="banner-prev" type="button" aria-label="Предыдущий баннер"
			class="hidden lg:flex h-[40px] w-[40px] items-center justify-center cursor-pointer">
			<img src="./assets/chevronLeft.svg" alt="" class="w-[13px] h-[22px]" />
		</button>

		<div id="banner-dots" class="flex items-center gap-[28px]"></div>

		<button id="banner-next" type="button" aria-label="Следующий баннер"
			class="hidden lg:flex h-[40px] w-[40px] items-center justify-center cursor-pointer">
			<img src="./assets/chevronRight.svg" alt="" class="h-auto w-auto" />
		</button>
	</div>
</section>
