<section id="contacts" class="scroll-mt-[110px] w-full justify-center flex">
	<div
		class="w-full max-w-[1300px] min-w-[auto] flex flex-col lg:flex-row items-start justify-between py-[48px] pt-0 gap-[32px] lg:px-[24px] lg:py-[80px] lg:gap-[20px]">
		<div>
			<div
				class="flex flex-col gap-[24px] w-full pb-[24px] lg:pb-[36px] text-[#4F4F4F] border-b-[1px] border-[#4F4F4F33]">
				<h2 class="text-[22px] lg:text-[32px] font-[800]">Контакты:</h2>
				<div>Адрес: <br class="lg:hidden" /> <strong>г. Новосибирск, ул. Балтийская, 31 (Шлюз)</strong></div>
				<div>Телефон: <strong>+7 (983) 510-09-97, +7 (383) 309-00-01</strong></div>
				<div>E-mail: <strong>navident@hotmail.com</strong></div>
			</div>

			<div
				class="flex flex-col gap-[24px] py-[24px] lg:py-[36px] text-[#4F4F4F] border-b-[1px] border-[#4F4F4F33]">
				<div>Понедельник - Пятница:<br /><strong>09:00 - 20:00</strong></div>
				<div>Суббота - Воскресенье:<br /><strong>09:00 - 15:00</strong></div>
			</div>

			<div class="flex flex-col gap-[24px] pt-[24px] lg:pt-[36px] text-[#4F4F4F]">
				<div>Количество мест на парковке: <strong>5</strong></div>
			</div>
		</div>

		<div>
			<img src="./assets/map.png" class="w-auto" />
		</div>
	</div>
</section>