<section id="contacts" class="scroll-mt-[110px] w-full justify-center flex">
	<div
		class="w-full max-w-[1300px] min-w-[auto] flex flex-col lg:flex-row items-start justify-between py-[48px] gap-[32px] lg:px-[24px] lg:py-[80px] lg:gap-[20px]">
		<div>
			<div class="flex flex-col gap-[24px] w-full pb-[24px] lg:pb-[36px] text-[#4F4F4F]">
				<h2 class="text-[22px] lg:text-[32px] font-[800]">Наши врачи:</h2>

				<div id="doctors-grid" class="grid w-full grid-cols-1 gap-4 lg:grid-cols-3"></div>
			</div>
		</div>
	</div>
</section>