<section id="reviews" class="scroll-mt-[110px] w-full justify-center flex">
	<div
		class="w-full max-w-[1300px] min-w-[auto] flex flex-col items-start px-[0px] py-[48px] lg:px-[24px] lg:py-[80px] gap-[20px]">
		<h2 class="text-[22px] lg:text-[32px] text-[#4F4F4F] font-[800]">Пациенты о нас:</h2>

		<div class="w-full ml-[0px] lg:ml-[-120px]">
			<review-lab data-widgetid="67454ca0eb335cf275d2a8f4"></review-lab>
			<script src="https://app.reviewlab.ru/widget/index-es2015.js" defer></script>
		</div>
	</div>
</section>
